/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}



.m-n50 {
    margin: -.125rem!important
}

.m-n1 {
    margin: -.25rem!important
}

.m-n1_5 {
    margin: -.375rem!important
}

.m-n2 {
    margin: -.5rem!important
}

.m-n3 {
    margin: -.75rem!important
}

.m-n4 {
    margin: -1rem!important
}

.m-n5 {
    margin: -1.25rem!important
}

.m-n6 {
    margin: -1.5rem!important
}

.m-n7 {
    margin: -1.75rem!important
}

.m-n8 {
    margin: -2rem!important
}

.m-n9 {
    margin: -2.25rem!important
}

.m-n10 {
    margin: -2.5rem!important
}

.m-n11 {
    margin: -2.75rem!important
}

.m-n12 {
    margin: -3rem!important
}

.mx-n50 {
    margin-right: -.125rem!important;
    margin-left: -.125rem!important
}

.mx-n1 {
    margin-right: -.25rem!important;
    margin-left: -.25rem!important
}

.mx-n1_5 {
    margin-right: -.375rem!important;
    margin-left: -.375rem!important
}

.mx-n2 {
    margin-right: -.5rem!important;
    margin-left: -.5rem!important
}

.mx-n3 {
    margin-right: -.75rem!important;
    margin-left: -.75rem!important
}

.mx-n4 {
    margin-right: -1rem!important;
    margin-left: -1rem!important
}

.mx-n5 {
    margin-right: -1.25rem!important;
    margin-left: -1.25rem!important
}

.mx-n6 {
    margin-right: -1.5rem!important;
    margin-left: -1.5rem!important
}

.mx-n7 {
    margin-right: -1.75rem!important;
    margin-left: -1.75rem!important
}

.mx-n8 {
    margin-right: -2rem!important;
    margin-left: -2rem!important
}

.mx-n9 {
    margin-right: -2.25rem!important;
    margin-left: -2.25rem!important
}

.mx-n10 {
    margin-right: -2.5rem!important;
    margin-left: -2.5rem!important
}

.mx-n11 {
    margin-right: -2.75rem!important;
    margin-left: -2.75rem!important
}

.mx-n12 {
    margin-right: -3rem!important;
    margin-left: -3rem!important
}

.my-n50 {
    margin-top: -.125rem!important;
    margin-bottom: -.125rem!important
}

.my-n1 {
    margin-top: -.25rem!important;
    margin-bottom: -.25rem!important
}

.my-n1_5 {
    margin-top: -.375rem!important;
    margin-bottom: -.375rem!important
}

.my-n2 {
    margin-top: -.5rem!important;
    margin-bottom: -.5rem!important
}

.my-n3 {
    margin-top: -.75rem!important;
    margin-bottom: -.75rem!important
}

.my-n4 {
    margin-top: -1rem!important;
    margin-bottom: -1rem!important
}

.my-n5 {
    margin-top: -1.25rem!important;
    margin-bottom: -1.25rem!important
}

.my-n6 {
    margin-top: -1.5rem!important;
    margin-bottom: -1.5rem!important
}

.my-n7 {
    margin-top: -1.75rem!important;
    margin-bottom: -1.75rem!important
}

.my-n8 {
    margin-top: -2rem!important;
    margin-bottom: -2rem!important
}

.my-n9 {
    margin-top: -2.25rem!important;
    margin-bottom: -2.25rem!important
}

.my-n10 {
    margin-top: -2.5rem!important;
    margin-bottom: -2.5rem!important
}

.my-n11 {
    margin-top: -2.75rem!important;
    margin-bottom: -2.75rem!important
}

.my-n12 {
    margin-top: -3rem!important;
    margin-bottom: -3rem!important
}

.mt-n50 {
    margin-top: -.125rem!important
}

.mt-n1 {
    margin-top: -.25rem!important
}

.mt-n1_5 {
    margin-top: -.375rem!important
}

.mt-n2 {
    margin-top: -.5rem!important
}

.mt-n3 {
    margin-top: -.75rem!important
}

.mt-n4 {
    margin-top: -1rem!important
}

.mt-n5 {
    margin-top: -1.25rem!important
}

.mt-n6 {
    margin-top: -1.5rem!important
}

.mt-n7 {
    margin-top: -1.75rem!important
}

.mt-n8 {
    margin-top: -2rem!important
}

.mt-n9 {
    margin-top: -2.25rem!important
}

.mt-n10 {
    margin-top: -2.5rem!important
}

.mt-n11 {
    margin-top: -2.75rem!important
}

.mt-n12 {
    margin-top: -3rem!important
}

.mb-n50 {
    margin-bottom: -.125rem!important
}

.mb-n1 {
    margin-bottom: -.25rem!important
}

.mb-n1_5 {
    margin-bottom: -.375rem!important
}

.mb-n2 {
    margin-bottom: -.5rem!important
}

.mb-n3 {
    margin-bottom: -.75rem!important
}

.mb-n4 {
    margin-bottom: -1rem!important
}

.mb-n5 {
    margin-bottom: -1.25rem!important
}

.mb-n6 {
    margin-bottom: -1.5rem!important
}

.mb-n7 {
    margin-bottom: -1.75rem!important
}

.mb-n8 {
    margin-bottom: -2rem!important
}

.mb-n9 {
    margin-bottom: -2.25rem!important
}

.mb-n10 {
    margin-bottom: -2.5rem!important
}

.mb-n11 {
    margin-bottom: -2.75rem!important
}

.mb-n12 {
    margin-bottom: -3rem!important
}

.p-0 {
    padding: 0!important
}

.p-50 {
    padding: .125rem!important
}

.p-1 {
    padding: .25rem!important
}

.p-1_5 {
    padding: .375rem!important
}

.p-2 {
    padding: .5rem!important
}

.p-3 {
    padding: .75rem!important
}

.p-4 {
    padding: 1rem!important
}

.p-5 {
    padding: 1.25rem!important
}

.p-6 {
    padding: 1.5rem!important
}

.p-7 {
    padding: 1.75rem!important
}

.p-8 {
    padding: 2rem!important
}

.p-9 {
    padding: 2.25rem!important
}

.p-10 {
    padding: 2.5rem!important
}

.p-11 {
    padding: 2.75rem!important
}

.p-12 {
    padding: 3rem!important
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important
}

.px-50 {
    padding-right: .125rem!important;
    padding-left: .125rem!important
}

.px-1 {
    padding-right: .25rem!important;
    padding-left: .25rem!important
}

.px-1_5 {
    padding-right: .375rem!important;
    padding-left: .375rem!important
}

.px-2 {
    padding-right: .5rem!important;
    padding-left: .5rem!important
}

.px-3 {
    padding-right: .75rem!important;
    padding-left: .75rem!important
}

.px-4 {
    padding-right: 1rem!important;
    padding-left: 1rem!important
}

.px-5 {
    padding-right: 1.25rem!important;
    padding-left: 1.25rem!important
}

.px-6 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important
}

.px-7 {
    padding-right: 1.75rem!important;
    padding-left: 1.75rem!important
}

.px-8 {
    padding-right: 2rem!important;
    padding-left: 2rem!important
}

.px-9 {
    padding-right: 2.25rem!important;
    padding-left: 2.25rem!important
}

.px-10 {
    padding-right: 2.5rem!important;
    padding-left: 2.5rem!important
}

.px-11 {
    padding-right: 2.75rem!important;
    padding-left: 2.75rem!important
}

.px-12 {
    padding-right: 3rem!important;
    padding-left: 3rem!important
}

.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.py-50 {
    padding-top: .125rem!important;
    padding-bottom: .125rem!important
}

.py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}

.py-1_5 {
    padding-top: .375rem!important;
    padding-bottom: .375rem!important
}

.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.py-3 {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important
}

.py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.py-5 {
    padding-top: 1.25rem!important;
    padding-bottom: 1.25rem!important
}

.py-6 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.py-7 {
    padding-top: 1.75rem!important;
    padding-bottom: 1.75rem!important
}

.py-8 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important
}

.py-9 {
    padding-top: 2.25rem!important;
    padding-bottom: 2.25rem!important
}

.py-10 {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important
}

.py-11 {
    padding-top: 2.75rem!important;
    padding-bottom: 2.75rem!important
}

.py-12 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

.pt-0 {
    padding-top: 0!important
}

.pt-50 {
    padding-top: .125rem!important
}

.pt-1 {
    padding-top: .25rem!important
}

.pt-1_5 {
    padding-top: .375rem!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pt-3 {
    padding-top: .75rem!important
}

.pt-4 {
    padding-top: 1rem!important
}

.pt-5 {
    padding-top: 1.25rem!important
}

.pt-6 {
    padding-top: 1.5rem!important
}

.pt-7 {
    padding-top: 1.75rem!important
}

.pt-8 {
    padding-top: 2rem!important
}

.pt-9 {
    padding-top: 2.25rem!important
}

.pt-10 {
    padding-top: 2.5rem!important
}

.pt-11 {
    padding-top: 2.75rem!important
}

.pt-12 {
    padding-top: 3rem!important
}

.pb-0 {
    padding-bottom: 0!important
}

.pb-50 {
    padding-bottom: .125rem!important
}

.pb-1 {
    padding-bottom: .25rem!important
}

.pb-1_5 {
    padding-bottom: .375rem!important
}

.pb-2 {
    padding-bottom: .5rem!important
}

.pb-3 {
    padding-bottom: .75rem!important
}

.pb-4 {
    padding-bottom: 1rem!important
}

.pb-5 {
    padding-bottom: 1.25rem!important
}

.pb-6 {
    padding-bottom: 1.5rem!important
}

.pb-7 {
    padding-bottom: 1.75rem!important
}

.pb-8 {
    padding-bottom: 2rem!important
}

.pb-9 {
    padding-bottom: 2.25rem!important
}

.pb-10 {
    padding-bottom: 2.5rem!important
}

.pb-11 {
    padding-bottom: 2.75rem!important
}

.pb-12 {
    padding-bottom: 3rem!important
}

html:not([dir=ltr]) .ms-6 {
    margin-right: 1.5rem!important;
}
